---
layout: default
title: "main()"
---

<p>
This is the documentation for the implementation of proposal <a href="https://wg21.link/p0829">P0829</a> and later using <a href="https://gcc.gnu.org">GCC</a> as a base.
</p>

<p> 	
The code for the project can be found in a couple of subrepositories under the group <a href="https://gitlab.com/avr-libstdcxx">AVR-libstdCxx on gitlab</a>
<dl>
	<dt>gcc</dt>
	<dd>Main repository containing a fork of the GCC project with changes done in branches</dd>
	<dt>conanFreestanding</dt>
	<dd>A <a href="https://conan.io" >conan</a> recipe for using the library, should also be usable with other targets than AVR</dd>
	<dt>avr-libstdcxx-docker</dt>
	<dd>A couple of dockerfiles that describes how to build the project and also creates the docker images at dockerhub</dd>
	<dt>avr-libstdcxx.gitlab.io</dt>
	<dd>The source for this site, also contains a wiki that might be used for less constant information</dd>
</dl>
</p>
